.form {
  padding: 213px 47px;
  @include lg {
    padding: 100px 48px;
  }
  @include md {
    padding: 64px 36px;
  }
  @include sm {
    padding: 44px 21px;
  }
  h1 {
    font-family: 'Nekst', monospace;
    color: #111111;
    text-align: left;
    padding: 0;
    margin: 0 0 32px 0;
    max-width: 680px;
  }
}
.input-container {
  display: flex;
  flex-wrap: wrap;
  gap: 44px 32px;
  @include lg {
    gap: 32px 0;
  }
  input {
    outline: none;
  }
  .input-content {
    display: flex;
    flex-direction: column;
    flex: 0 0 calc(33.333% - 22px);
    @include lg {
      flex:0 0 100%;
    }
    &:not(:nth-child(6)) span {
      align-self: flex-start;
      font-size: 14px;
      line-height: 20px;
      color: #575757;
      margin-bottom: 24px;
    }
    &__inner {
      position: relative;
      > * {
        font-weight: 900;
        font-size: 30px;
        line-height: 36px;
        color: #575757;
        @include sm{
          font-size: 22px;
          line-height: 20px;
        }
      }
      &_percent {
        font-size: 20px;
        padding: 0px;
        background: #EBEBEC;
        right: 7px !important;
        top: 7px;
        bottom: 7px !important;
        height: auto!important;
        width: 80px;
        input {
          padding: 15px 17px;
          font-size: 20px;
          line-height: 24px;
          font-weight: 900;
          background: transparent !important;
          color: #575757;
          text-align: right;
        }
      }
      input {
        padding: 12px 18px;
        height: 68px;
        border: none;
        background: #F3F3F4;
        border-radius: 16px;
        width: 100%;
      }
      label, .label {
        position: absolute;
        right: 24px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 12px;
        bottom: 3px;
      }
    }
    &__slider {
      padding: 0 18px;
      position: relative;
      bottom: 15px;
      input[type="range"] {
        -webkit-appearance: none;
        margin-right: 15px;
        width: 100%;
        height: 2px;
        background: #E1E1E1;
        background-image: linear-gradient(#FF9514, #FF9514);
        background-size: 70% 100%;
        background-repeat: no-repeat;
        border-radius: 5px 5px 0 0;
        &:hover {
          cursor: pointer;
        }
      }
      input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background: #FF9514;
        cursor: ew-resize;
        box-shadow: 0 0 2px 0 #555;
        transition: background .3s ease-in-out;
        &:hover {
          cursor: pointer;
        }
      }
    }
    &__result {
      span:first-child {
        margin-bottom: 8px;
      }
    }
    &__button {
      height: 68px;
      button {

      }
    }
  }
  @include lg {
    .input-content:nth-child(4), .input-content:nth-child(5) {
      flex:0 0 calc(50%);
      @include sm {
        flex: 0 0 100%;
      }
    }
  }
}
.input-content__result:nth-child(5) {
  @include lg {
    margin-bottom: 12px;
  }
}