.first-title {
  font-weight: 900;
  line-height: 48.6px !important;
  font-size: 54px !important;
  @include sm {
    font-size: 34px !important;
    line-height: 30.6px !important;
  }
}
.sub-title {
  @include sm{
    font-size: 22px !important;
    line-height: 20px !important;
  }
}
.mb-0 {
  margin-bottom: 0 !important;
}